%button {
  background-color: $accent-color;
  color: $hero-title;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
}

.button:focus,
.button:hover {
  color: $hero-title;
  background-color: $accent-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons__form {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;

  @extend %button;
  color: $title-text-color;
  background: $background-blue-color;
  padding: 6px 22px;
  width: auto;
  height: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: $cubic-bezier;
}

.section-buttons {
  padding-top: 94px;
  padding-bottom: 50px;
}

.buttons {
  &__list {
    display: flex;
    justify-content: center;
  }

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__title:not(:last-child) {
    margin-right: 8px;
  }
}

.button__modal {
  @extend %button;
  display: flex;
  justify-content: flex-end;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 490px;
  margin-top: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: $title-text-color;
}

.button__modal:hover,
.button__modal:focus {
  fill: $accent-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $cubic-bezier;
  border: 1px solid $accent-color;
}
