html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  background-color: $hero-title;
  color: $primaru-text-color;
  padding-top: 0;
  padding-bottom: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 479px) and (max-width: 767px) {
  .container {
    width: 450px;
    max-width: 450px;
  }

  .our-work {
    display: none;
  }

  img {
    display: block;
    min-width: 450px;
    height: auto;
  }
}

a {
  text-decoration: none;
}

.work {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0;
  padding-bottom: 0;
}

.about-us {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media (max-width: 479px) {
  .container {
    width: 100%;
    max-width: 479px;
    min-width: 320px;
  }

  .our-work {
    display: none;
  }
}
