$title-text-color: #212121;
$accent-color: #2196f3;
$hero-title: #ffffff;
$primaru-text-color: #757575;
$background-blue-color: #f5f4fa;
$background-dark-color: #2f303a;
$icon-color: #afb1b8;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
