.portfolio {
  &__title {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 94px;
  }

  &__list {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #eeeeee;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    color: $title-text-color;
  }

  &__list:last-child(3n) {
    margin-right: 0;
    margin-bottom: 0;
  }

  &__heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;

    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 4px;
    margin: 0;
  }

  &__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: $primaru-text-color;
    padding-left: 24px;
    padding-top: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
  }

  &__list:hover {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}

.portfolio-blok {
  position: relative;
  overflow: hidden;
}

.portfolio-blok:hover .text-blok {
  opacity: 0.9;
  transform: translateY(0);
}

.text-blok {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;

  transform: translateY(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: $cubic-bezier;
}

.text-blok {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  margin: 0;
  height: 100%;
  padding: 63px 24px;
  color: $hero-title;
  background-color: rgba(33, 150, 243, 0.9);
}
