@media (min-width: 768px) {
  .container {
    width: 768px;
  }

  .flexbox {
    display: flex;
    flex-wrap: wrap;
  }

  .our-work {
    display: none;
  }

  .feature__list {
    display: flex;
    flex-wrap: wrap;
  }

  .feature__text {
    width: 354px;
    margin-right: 30px;
  }

  .hero {
    max-width: 768px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 120px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/Header768.jpg");
  }

  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $hero-title;

    margin-bottom: 30px;
  }

  .command__title {
    justify-content: center;
  }

  .command__list {
    width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;
  }

  .customers__list {
    display: flex;
    margin-top: 30px;
  }
  .customers__item {
    width: 226px;
  }
}
