@media (min-width: 768px) and (max-width: 1198px) {
  .container {
    width: 768px;
  }

  .flexbox {
    display: flex;
    flex-wrap: wrap;
  }

  .header {
    height: 80px;
    display: flex;
    align-items: center;
    margin-left: auto;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
  }

  .header-nav {
    display: flex;
    text-align: center;
  }
  .site-nav {
    display: flex;

    &__list {
      position: relative;
      margin-left: 50px;
      text-align: left;
    }

    &__link {
      font-size: 14px;
      line-height: 16px;
      padding-top: 32px;
      padding-bottom: 32px;
    }

    &__mail {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .current {
    border-bottom: solid 4px $accent-color;
    padding-bottom: 28px;
    border-radius: 2px;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .mail-box {
    display: block;
    margin-left: 50px;
    margin-top: 40px;
    justify-content: left;

    &__item {
      width: 16px;
      height: 12px;
      margin-right: 10px;
      fill: $primaru-text-color;
    }
  }
  .our-work {
    display: none;
  }

  .feature__list {
    display: flex;
    flex-wrap: wrap;
  }

  .feature__text {
    width: 354px;
    margin-right: 30px;
  }

  .feature__text:nth-last-child(2n + 1) {
    margin-right: 0;
  }

  .hero {
    max-width: 768px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 120px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/Header768.jpg");
  }

  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $hero-title;

    margin-bottom: 30px;
  }

  .command__title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .command__list:nth-child(2n) {
    margin-right: 0;
  }

  .command__list {
    width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;
  }

  .customers__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .customers__item {
    width: 226px;
    margin-left: 30px;
  }

  .customers__item:nth-child(3n + 1) {
    margin-left: 0;
  }

  .basement__section {
    display: flex;
    flex-wrap: wrap;
  }

  .address {
    margin-right: 76px;
  }

  .basement {
    .subscribe-list {
      margin-top: 12px;
      text-align: center;
      margin-left: 165px;
    }

    .footer__subscribe h3 {
      margin-top: 60px;
      margin-bottom: 0;
      text-align: center;
    }

    .subscribe__list ul {
      display: flex;
      margin-top: 20px;
    }

    .subscribe {
      display: flex;
    }

    .subscribe__item {
      display: flex;
    }

    
    .footer__subscribe {
      display: inline;
      margin-left: 166px;
    }

    .footer__window {
      padding-top: 20px;
    }

    .form-input {
      height: 48px;
      width: 358px;
      padding: 0 20px;
    }

    .sign-in-button {
      display: flex;
    }
  }

  .buttons {
    &__list {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__title {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    &__title:not(:last-child) {
      margin-right: 8px;
    }
  }

  .portfolio__list {
    width: 354px;
    max-width: 354px;
    margin-left: 30px;
  }

  .portfolio__list:nth-child(2n + 1) {
    margin-left: 0;
  }
}
